
{% assign productObj = site.products | where:"title", include.product | first %}
{% assign productFilename = productObj.images | split:"/" | last  %}

<div class="product-card" id="{{ productObj.title }}-card">
  {{ productFilename | append:' [resize:200x200]' | image }}

  <div class="card-title">{{ productObj.title }}</div>
  <script>

    document.getElementById("{{ productObj.title }}-card")
      .addEventListener("click", function(e) {
        var instance = basicLightbox.create("<img src={{ productObj.images }} />");
        instance.show();
      });

  </script>
</div>

