<link rel="stylesheet" href="/css/basicLightbox.min.css">
<link rel="stylesheet" href="/css/products.css" />
<script src="/js/basicLightbox.min.js"></script>

{% if include.summary %}
  {% assign overflow = "scroll" %}
  {% assign flex = "nowrap" %}
  {% assign limit = 10 %}
{% else %}
  {% assign overflow = "auto" %}
  {% assign flex = "wrap" %}
  {% assign limit = include.products.size %}
{% endif %}

<div
  class="products-container"
  style="overflow-x: {{overflow}};flex-wrap: {{flex}};"
>

  {% if include.summary %}
    {% for product in include.products limit: 10 %}
      {% include product_card.html product=product %}
    {% endfor %}
  {% else %}
    {% for product in include.products %}
      {% include product_card.html product=product %}
    {% endfor %}
  {% endif %}
  <br>
  <br>
</div>

