<link rel="stylesheet" href="/css/products.css" />

{% if include.summary %}
  {% assign overflow = "scroll" %}
  {% assign limit = 10 %}
{% else %}
  {% assign overflow = "auto" %}
  {% assign limit = include.products.size %}
{% endif %}

<div class="products-container" style="overflow: '{{ overflow }}';">

  {% if include.summary %}
    {% for product in include.products limit: 10 %}
      {% include product_card.html product=product %}
    {% endfor %}
  {% else %}
    {% for product in include.products %}
      {% include product_card.html product=product %}
    {% endfor %}
  {% endif %}
  <br>
  <br>
</div>
