---
layout: default
---
<link rel="stylesheet" href="/css/main.css">

<div class="top-bar"></div>
<div class="container">
  <header>
    <nav>
      <div class="desktop-menu">
        <a class="nav-link" href="/">Home</a>
        {% for category in site.categories %}
          <a class="nav-link" href="{{ category.slug }}">{{ category.name }}</a>
        {% endfor %}
        <a class="nav-link" href="/kitchen">Kitchen</a>
        <a class="nav-link" href="/culture-stone-and-slate-products">Culture Stone & Slate</a>
        <a class="nav-link" href="/travertine">Travertine</a>
        <a class="nav-link" href="/terazzo-stone">Terazzo Stone</a>
        <a class="nav-link" href="/contact">Contact</a>
      </div>
      <div class="mobile-menu">
        <input type="checkbox" id="overlay-input" />
        <label for="overlay-input" id="overlay-button"><span></span></label>
          <div id="overlay">
            <ul>
              <li>
                <a class="nav-link" href="/">Home</a>
              </li>
              {% for category in site.categories %}
                <li>
                  <a class="nav-link" href="{{ category.slug }}">{{ category.name }}</a>
                </li>
              {% endfor %}
              <li>
                <a class="nav-link" href="/kitchen">Kitchen</a>
              </li>
              <li>
                <a class="nav-link" href="/culture-stone-and-slate-products">Culture Stone & Slate</a>
              </li>
              <li>
                <a class="nav-link" href="/travertine">Travertine</a>
              </li>
              <li>
                <a class="nav-link" href="/terazzo-stone">Terazzo Stone</a>
              </li>
              <li>
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
    <br>
    <div class="desktop-header">
      <h1>{{ site.title }}</h1>
    </div>
  </header>
</div>

<br>

{{ content }}


<footer>


</footer>

<script src="/js/main.js"></script>